<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Blog Categories 2</title>
	<meta name="description" content="Noanet- is a Ultimate Multipurpose Premium  HTML5 Responsive Templeate by webstrot Team. You can use this for anykind of multi-purpose Bussiness"/>
	<meta name="keywords" content="Premium HTML5 Template"/>
	<meta name="author" content="noanet"/>
	<!-- Mobile Specific Meta -->
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
	<meta name="MobileOptimized" content="320"/>
	<!-- css Library -->
	<!-- boorstrap -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<!-- themify-icon.css -->
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<!-- owl-carousel -->
	<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="assets/css/owl.theme.css">
	<!-- Video-min -->
	<link rel="stylesheet" type="text/css" href="assets/css/video.min.css">
	<!-- animate.css -->
	<link rel="stylesheet" type="text/css" href="assets/css/animate.css">
	<link rel="stylesheet" type="text/css" href="assets/css/font-monia.css">
	<!-- Light-box -->
	<link rel="stylesheet" type="text/css" href="assets/css/lightbox.css">
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/template.css">
	<!-- responsive.css -->
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
	<!-- space.css -->
	<link rel="stylesheet" type="text/css" href="assets/css/space.css">
</head>
<!-- /end of head -->
<body>
   <div id="preloader"></div>
   <div id="wrapper-container" class="wrapper-container">
      <div id="apus-mobile-menu" class="apus-offcanvas hidden-lg hidden-md">
         <div class="apus-offcanvas-body">
            <div class="offcanvas-head">
               <button type="button" class="btn btn-toggle-canvas" data-toggle="offcanvas">
                  <i class="fa fa-close"></i> 
               </button>
               <strong>MENU</strong>
            </div>
            <nav class="navbar navbar-offcanvas navbar-static">
               <div class="navbar-collapse navbar-offcanvas-collapse">
                  <ul id="main-mobile-menu" class="nav navbar-nav">
                     <li class="has-submenu active">
                        <a href="home-1.html">Home</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Home 1</a></li>
                           <li><a href="#">Home 2</a></li>
                        </ul>
                     </li>
                     <li class="has-submenu">
                        <a href="blog-categories.html">Blog</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Chess Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Grid Layout</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">2 Column</a></li>
                                 <li><a href="#">3 Column</a></li>
                              </ul>
                           </li>
                           <li><a href="#">List Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Masonry Layout</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">2 Column</a></li>
                                 <li><a href="#">3 Column</a></li>
                              </ul>
                           </li>
                           <li  class="menu-item-19"> <a href="#">Timeline Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Detail with sidebar</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">Left Sidebar</a></li>
                                 <li><a href="#">Right Sidebar</a></li>
                                 <li><a href="#">Without Sidebar</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li class="has-submenu">
                        <a href="pricing.html">Pricing</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Pricing Plans</a></li>
                           <li><a href="#">FQA</a></li>
                           <li><a href="#">Our Gallery</a></li>
                           <li> <a href="#">404 Error</a></li>
                        </ul>
                     </li>
                     <li><a href="service.html">Our Services</a></li>
                     <li><a href="about.html">About us</a></li>
                     <li><a href="contact.html">Contact us</a></li>
                  </ul>
               </div>
			   <div class="contact_num">
					<h2><i class="fa fa-phone"></i> +(800)1542545</h2>
			   </div>
               <div class="mobile-login text-center margin-top-30">
                  <button href="#"><i class="fa fa-user"></i> Login</button>
               </div>

               <div id="id01" class="modal">

                 <form class="modal-content animate" action="/action_page.php">
                   <div class="imgcontainer">
                      <span onclick="document.getElementById('id01').style.display='none'" class="close-1" title="Close">&times;</span>

                   </div>

                   <div class="login-mbl">

                     <input class="margin-bottom-20" type="text" placeholder="Enter Username" name="uname" required>


                     <input type="password" placeholder="Enter Password" name="psw" required>


                     <label for="apus-user-remember">
                        <input class="checkbox-noanet margin-top-20" type="checkbox" name="remember" id="apus-user-remember" value="true"> Remember Me                          </label>
                        <div class="mobile-login text-center margin-top-30">
                           <button type="submit">Login</button>
                        </div>
                     </div>


                  </form>
               </div>
            </nav>
         </div>
      </div>
   </div>
   <div id="apus-header-mobile" class="header-mobile hidden-lg hidden-md clearfix">
      <div class="container">
         <div class="row">
            <div class="col-xs-4">
               <div class="active-mobile pull-left">
                  <button data-toggle="offcanvas" class="btn btn-sm btn-danger btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                     <i class="fa fa-bars"></i>
                  </button>
               </div>
            </div>
            <div class="col-xs-4">
               <div class="logo logo-theme">
                  <a href="home-1.html" >
                     <img src="assets/img/logo.png" alt="Noanet">
                  </a>
               </div>
            </div>
            <div class="col-xs-4">
				<div class="lv_search_bar" id="search_button">
					<i class="fa fa-search" aria-hidden="true"></i>
				</div>
				<div id="search_open" class="lv_search_box">
					<input type="text" placeholder="Search here">
					<button><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
            </div>
         </div>
      </div>
   </div>
   <header id="apus-header" class="site-header header-v2 hidden-sm hidden-xs">
      <div id="apus-topbar" class="apus-topbar">
         <div class="container">
            <div class="topbar-inner clearfix">
               <div class="pull-left contact-topbar-2">
                  <aside id="text-7" class="widget widget_text">
                     <div class="textwidget">
                        <div class="contact">
                           <span class="phone">
                              Phone: (800) 154 2545 , 548 2457
                           </span>
                           <span class="email">
                              Email : <a href="#">noanet@example.com</a> 
                           </span>
                        </div>
                     </div>
                  </aside>
               </div>
               <div class="pull-right widget-social">
                  <div id="apus_socials_widget-4" class=" widget_apus_socials_widget">
                     <ul class="social list-unstyled list-inline bo-sicolor">
                        <li>
                           <a href="#" class="facebook">
                              <i class="fa fa-facebook bo-social-facebook">&nbsp;</i><span class="hidden">Facebook</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="twitter">
                              <i class="fa fa-twitter bo-social-twitter">&nbsp;</i><span class="hidden">Twitter</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="youtube">
                              <i class="fa fa-youtube bo-social-youtube">&nbsp;</i><span class="hidden">Youtube</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="linkedin">
                              <i class="fa fa-linkedin bo-social-linkedin">&nbsp;</i><span class="hidden">LinkedIn</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header-main clearfix main-sticky-header-wrapper" style="height: 128px;">
         <div class="main-sticky-header">
            <div class="container">
               <div class="header-inner">
                  <div class="row">
                     <!-- LOGO -->
                     <div class="col-md-3">
                        <div class="logo-in-theme pull-left">
                           <div class="logo logo-theme">
                              <a href="#">
                                 <img src="assets/img/logo.png" alt="logo">
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9 p-static">
                        <div class="main-menu pull-left">
                           <nav data-duration="400" class="hidden-xs hidden-sm apus-megamenu slide animate navbar">
                              <div class="collapse navbar-collapse">
                               <ul id="primary-menu" class="nav navbar-nav megamenu">
                                    <li><a href="home-1.html">Home</a></li>
                                    <li><a href="blog-categories-2.html">Blog</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="service.html">Our Services</a></li>
                                    <li><a href="about.html">About us</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                              </ul>

                              </div>
                           </nav>
                        </div>
                        <div class="apus-search">
                           <button type="button" class="button-show-search button-setting"><i class="mn-icon-52"></i></button>
                        </div>
                        <div class="setting-popup pull-right">
                        <button id="myBtn" class="modal-btn-1 v-2"><i class="mn-icon-410"></i></button>

                        <!-- The Modal -->
                        <div id="myModal" class="modal modal">

                        <!-- Modal content -->
                          <div class="modal-content">
                             <div class="modal-header">
                              <span class="close">&times;</span>
                              <h2 class="text-uppercase">Log In</h2>
                           </div>
                           <div class="modal-body margin-top-40">
                              <form class="apus-login-form" action="/wp-demo/noanet/" method="post">


                                 <div class="form-group">


                                    <input autocomplete="off" type="text" placeholder="Username" name="username" class="form-control margin-bottom-35" id="username_or_email">
                                 </div>
                                 <div class="form-group">


                                    <input name="password" type="password" placeholder="Password" class="password required form-control" id="login_password">
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <div class="form-group margin-top-12">
                                          <label for="apus-user-remember">
                                             <input class="checkbox-noanet" type="checkbox" name="remember" id="apus-user-remember" value="true"> Remember Me                          </label>
                                          </div>
                                       </div>
                                       <div class="col-sm-6">
                                          <p class="margin-top-30">
                                             <a class="lost-pass" href="#apus_forgot_password_form" class="back-link" title="Forgot Password">Lost Your Password?</a>
                                          </p>
                                       </div>
                                    </div>

                                    <div class="form-group padding-bottom-50 text-center">
                                       <input type="submit" class="btn text-uppercase btn-sm btn-warning" name="submit" value="Log In">
                                       <input type="button" class="btn text-uppercase btn-sm btn-default btn-cancel" name="cancel" value="Register">
                                    </div>
                                    <input type="hidden" id="security_login" name="security_login" value="f6377080a1"><input type="hidden" name="_wp_http_referer" value="/wp-demo/noanet/">                </form>
                                 </div>
                              </div>

                        </div>

                     </div>
                     </div>
                  </div>
                  <div class="full-top-search-form">
                     <div class="apus-search-form">
                        <form action="#" method="get">
                           <div class="input-group">
                              <input type="text" placeholder="Search" name="s" class="apus-search form-control">
                              <button class="close-search-form" type="button">
                                 <i class="mn-icon-4"></i>
                              </button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
      <!-- End of Header 
      ============================================= -->
      <!-- Start of page breadcrum
      ============================================= -->
      <section id="apus-breadscrumb" class="apus-breadscrumb">
      	<div class="container">
      		<div class="row">
      			<div class="wrapper-breads">
      				<div class="breadscrumb-inner">
      					<ol class="breadcrumb raleway">
      						<li><a href="home-1.html">Home</a>  </li>
      						<li class="active">Blog Categories</li>
      					</ol>
      					<h2 class="bread-title">Blog Categories</h2>
      				</div>
      			</div>
      		</div>
      	</div>
      </section>
      <!-- End of page breadcrum 
      ============================================= -->
      <!-- Start of blog-catergoy-2
      ============================================= -->	
      <section id="blog-catergoy-2" class="blog-catergoy-2-section">
      	<div class="container">
      		<div class="row section-content-3">
      			<div class="blog-catergoy-2-content">
      				<div class="row">
      					<div class="col-sm-9">
      						<div class="blog-catergoy-2-item">
      							<article class="post post-grid post-1988 type-post status-publish format-standard has-post-thumbnail hentry category-digital category-hosting category-internet category-uncategorized tag-broadband tag-digital tag-internet">
      								<figure class="entry-thumb effect-v6">
      									<a class="post-thumbnail" href="#" aria-hidden="true">
      										<img width="825" height="424" src="assets/img/bb-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Proin gravida nibh vel velit auctor aliquet.">
      									</a>
      								</figure>
      								<div class="entry-content ">
      									<div class="entry-meta">
      										<div class="info">
      											<div class="meta">
      												<span class="date"><i class="mn-icon-1130"></i>October 1, 2016  </span>
      												<span class="coment"><i class="mn-icon-294"></i>4 Comments</span>
      												<span><i class="mn-icon-132"></i> Broadband </span>
      											</div>
      											<h4 class="entry-title">
      												<a href="#">Proin gravida nibh vel velit auctor aliquet.</a>
      											</h4>
      										</div>
      									</div>
      									<div class="info-bottom">
      										<div class="entry-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, aks sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nc tellus a odio tincidunt auctor a ornare.
      										</div>
      										<a class="btn" href="#">Read More</a>
      									</div>
      								</div>
      							</article>
      						</div>
      						<!-- /// -->
      						<div class="blog-catergoy-2-item">
      							<article class="post post-grid post-1988 type-post status-publish format-standard has-post-thumbnail hentry category-digital category-hosting category-internet category-uncategorized tag-broadband tag-digital tag-internet">
      								<figure class="entry-thumb effect-v6">
      									<div class="post-thumbnail" aria-hidden="true">
      										<div class="who-we-are-slide-2">
      											<div class="who-we-are-slide-conten-2">
      												<div class="who-we-are-slide-pic">
      													<img width="825" height="424" src="assets/img/bb-2.jpg" alt="img">
      												</div>
      												<div class="who-we-are-slide-pic">
      													<img width="825" height="424" src="assets/img/bb-2.jpg" alt="img">
      												</div>
      												<div class="who-we-are-slide-pic">
      													<img width="825" height="424" src="assets/img/bb-2.jpg" alt="img">
      												</div>
      											</div>
      										</div>
      										</div>

      										</figure>
      										<div class="entry-content ">
      											<div class="entry-meta">
      												<div class="info">
      													<div class="meta">
      														<span class="date"><i class="mn-icon-1130"></i>October 1, 2016  </span>
      														<span class="coment"><i class="mn-icon-294"></i>4 Comments</span>
      														<span><i class="mn-icon-132"></i> Broadband </span>
      													</div>
      													<h4 class="entry-title">
      														<a href="#">Proin gravida nibh vel velit auctor aliquet.</a>
      													</h4>
      												</div>
      											</div>
      											<div class="info-bottom">
      												<div class="entry-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, aks sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nc tellus a odio tincidunt auctor a ornare.
      												</div>
      												<a class="btn" href="#">Read More</a>
      											</div>
      										</div>
      									</article>
      								</div>
      								<!-- // -->
      								<div class="blog-catergoy-2-item">
      									<article class="post post-grid post-1988 type-post status-publish format-standard has-post-thumbnail hentry category-digital category-hosting category-internet category-uncategorized tag-broadband tag-digital tag-internet">
      										<div class="latest-news-bg">
      											<div class="latest-news-bg-link">
      												<i class="fa fa-link" aria-hidden="true"></i>
      											</div>
      											<div class="blog-catergoy-2-dec">
      												<p>Click Latest Event on Wednesday 06 July, 2016</p>
      											</div>
      											<div class="blog-catergoy-2-date">
      												<div class="meta">
      													<span class="date"><i class="mn-icon-1130"></i>October 1, 2016  </span>
      												</div>
      											</div>
      										</div>
      									</article>
      								</div>
      								<!-- // -->
      								<div class="blog-catergoy-2-item">
      									<article class="post post-grid post-1988 type-post status-publish format-standard has-post-thumbnail hentry category-digital category-hosting category-internet category-uncategorized tag-broadband tag-digital tag-internet">
      										<figure class="entry-thumb effect-v6">
      											<a class="post-thumbnail" href="#" aria-hidden="true">
      												<img width="825" height="424" src="assets/img/bb-v.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Proin gravida nibh vel velit auctor aliquet.">
      											</a>
      										</figure>  
      										<div class="entry-content ">
      											<div class="entry-meta">
      												<div class="info">
      													<div class="meta">
      														<span class="date"><i class="mn-icon-1130"></i>October 1, 2016  </span>
      														<span class="coment"><i class="mn-icon-294"></i>4 Comments</span>
      														<span><i class="mn-icon-132"></i> Broadband </span>
      													</div>
      													<h4 class="entry-title">
      														<a href="#">Proin gravida nibh vel velit auctor aliquet.</a>
      													</h4>
      												</div>
      											</div>
      											<div class="info-bottom">
      												<div class="entry-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, aks sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nc tellus a odio tincidunt auctor a ornare.
      												</div>
      												<a class="btn" href="#">Read More</a>
      											</div>
      										</div>
      									</article>
      								</div>
      								<!-- // -->
      								<div class="blog-pagination padding-bottom-15">
      									<ul class="pagination text-center padding-top-70">
      										<li><a class="active" href="#">1</a></li>
      										<li><a href="#">2</a></li>
      										<li><a href="#">3</a></li>
      										<li><a href="#">4</a></li>
      										<li><a href="#">...</a></li>
      										<li><a  class="next-p text-uppercase" href="#">next</a></li>
      									</ul>
      								</div>
      							</div>
      							<!-- /col-sm-9 -->
      							<div class="col-sm-3">
      								<div class="blog-page-side-bar margin-left-20 margin-top-40">
      									<div class="sidebar-search">
      										<aside id="apus_search-5" class="widget widget_apus_search"><h2 class="widget-title"><span>Search</span></h2><div class="search-form">
      											<form action="#" method="get">
      												<div class="input-group">
      													<input type="text" placeholder="Search" name="s" class="apus-search form-control input-sm">
      													<span class="input-group-btn">
      														<button type="submit" class="btn"><i class="fa fa-search"></i></button>
      													</span>
      												</div>
      												<input type="hidden" name="post_type" value="post" class="post_type">
      											</form>
      										</div>
      									</aside>
      								</div>
      								<!-- //side-bar-search -->
      								<div class="sidebar-category padding-top-55 clearfix">
      									<aside id="categories-2" class="widget widget_categories"><h2 class="widget-title"><span>Categories</span></h2>		<ul>
      										<li class="cat-item cat-item-149"><a href="#">3G/4G Service</a> (4)
      										</li>
      										<li class="cat-item cat-item-145"><a href="#">Broadband</a> (3)
      										</li>
      										<li class="cat-item cat-item-146"><a href="#">Digital</a> (2)
      										</li>
      										<li class="cat-item cat-item-148 current-cat"><a href="#">Hosting</a> (8)
      										</li>
      										<li class="cat-item cat-item-144"><a href="#">Internet</a> (4)
      										</li>
      										<li class="cat-item cat-item-147"><a href="#">Server</a> (2)
      										</li>
      										<li class="cat-item cat-item-150"><a href="#">Support</a> (2)
      										</li>
      										<li class="cat-item cat-item-1"><a href="#">Uncategorized</a> (7)
      										</li>
      									</ul>
      								</aside>
      							</div>
      							<!-- //side-bar-category -->
      							<div class="sidebar-popular-post">
      								<aside id="apus_recent_post-3" class="widget widget_apus_recent_post"><h2 class="widget-title"><span>POPULAR POST</span></h2><div class="post-widget media-post-layout widget-content">
      									<ul class="posts-list">
      										<li>
      											<article class="post post-list">
      												<div class="entry-content media">
      													<div class="media-left">
      														<figure class="entry-thumb effect-v6">
      															<a href="#" title="" class="entry-image">
      																<img  src="assets/img/rec-1.jpg" alt="blog1">	
      															</a>  
      														</figure>
      													</div>
      													<div class="media-body">
      														<h4 class="entry-title">
      															<a class="raleway" href="#">Brand NewBroad Band Only @499.</a>
      														</h4>
      														<div class="entry-content-inner clearfix">
      															<div class="entry-meta">
      																<div class="entry-create">
      																	<span class="entry-date"><i class="fa fa-calendar-check-o"></i>Oct 01, 2016</span>
      																</div>
      															</div>
      														</div>
      													</div>
      												</div>
      											</article>
      										</li>
      										<li>
      											<article class="post post-list">
      												<div class="entry-content media">
      													<div class="media-left">
      														<figure class="entry-thumb effect-v6">
      															<a href="#" title="" class="entry-image">
      																<img  src="assets/img/rec-2.jpg" alt="blog1">	
      															</a>  
      														</figure>
      													</div>
      													<div class="media-body">
      														<h4 class="entry-title">
      															<a class="raleway" href="#">Brand NewBroad Band Only @499.</a>
      														</h4>
      														<div class="entry-content-inner clearfix">
      															<div class="entry-meta">
      																<div class="entry-create">
      																	<span class="entry-date"><i class="fa fa-calendar-check-o"></i>Oct 01, 2016</span>
      																</div>
      															</div>
      														</div>
      													</div>
      												</div>
      											</article>
      										</li>
      										<li>
      											<article class="post post-list">
      												<div class="entry-content media">
      													<div class="media-left">
      														<figure class="entry-thumb effect-v6">
      															<a href="#" title="" class="entry-image">
      																<img  src="assets/img/rec-3.jpg" alt="blog1">	
      															</a>  
      														</figure>
      													</div>
      													<div class="media-body">
      														<h4 class="entry-title">
      															<a class="raleway" href="#">Brand NewBroad Band Only @499.</a>
      														</h4>
      														<div class="entry-content-inner clearfix">
      															<div class="entry-meta">
      																<div class="entry-create">
      																	<span class="entry-date"><i class="fa fa-calendar-check-o"></i>Oct 01, 2016</span>
      																</div>
      															</div>
      														</div>
      													</div>
      												</div>
      											</article>
      										</li>
      									</ul>
      								</div>
      							</aside>
      						</div>
      						<!-- //recent-post -->
      						<aside id="apus_single_image-2" class="widget widget_apus_single_image">
      							<div class="single-image">
      								<a href="#">
      									<img src="assets/img/add.png" alt="">
      								</a>
      							</div>
      						</aside>
      						<!-- //single-img -->
      						<aside id="tag_cloud-3" class="widget widget_tag_cloud"><h2 class="widget-title"><span>Tag Cloud</span></h2><div class="tagcloud"><a href="#" class="tag-link-152 tag-link-position-1" title="1 topic">3G/4G</a>
      							<a href="#" class="tag-link-27 tag-link-position-2" title="1 topic">Internet</a>
      							<a href="#" class="tag-link-57 tag-link-position-3" title="1 topic">Digital</a>
      							<a href="#" class="tag-link-142 tag-link-position-4" title="2 topics">Server</a>
      							<a href="#" class="tag-link-28 tag-link-position-5" title="1 topic">Hosting</a>
      						</div>
      					</aside>
      					<!-- //tag -->
      					<div class="sidebar-about-us">
      						<aside id="text-11" class="widget widget_text"><h2 class="widget-title"><span>About Us</span></h2>			<div class="textwidget">Proin gravida nibh vel velit auctor quet. Aenean sollicitudin, lorem quis bibum auctor, nisi elit consequat.
      							<br><br>
      							Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
      							<br><br>
      							<a href="#" class="text-theme">support@example.com</a></div>
      						</aside>
      					</div>
      					<!-- //about-us -->
      					<div class="sidebar-instagram">
      						<aside id="apus_instagram-2" class="widget widget_apus_instagram"><h2 class="widget-title"><span>Instagram</span></h2>
      							<div class="instagram-widget">
      								<div class="row instagram-pics">
      									<div class="col-md-4">
      										<a href="#"><img src="assets/img/ins-1.jpg" alt=""></a>
      									</div>
      									<div class="col-md-4">
      										<a href="#"><img src="assets/img/ins-2.jpg" alt=""></a>
      									</div>
      									<div class="col-md-4">
      										<a href="#"><img src="assets/img/ins-3.jpg" alt=""></a>
      									</div>
      									<div class="col-md-4">
      										<a href="#"><img src="assets/img/ins-4.jpg" alt=""></a>
      									</div>
      									<div class="col-md-4">
      										<a href="#"><img src="assets/img/ins-5.jpg" alt=""></a>
      									</div>
      									<div class="col-md-4">
      										<a href="#"><img src="assets/img/ins-6.jpg" alt=""></a>
      									</div>
      								</div>
      							</div>
      						</aside>
      					</div>
      					<!-- //side-bar-instagram -->
      					<div class="sidebar-archive">
      						<aside id="archives-2" class="widget widget_archive"><h2 class="widget-title"><span>Archives</span></h2>		<ul>
      							<li><a href="#">October 2016</a></li>
      							<li><a href="#">June 2016</a></li>
      							<li><a href="#">January 2016</a></li>
      						</ul>
      					</aside>
      				</div>
      				<!-- //arcvhive -->
      				<div class="tweet-blog">
      					<div class="tweet-blog-content">
      						<div class="tweet-icon">
      							<i class="fa fa-twitter" aria-hidden="true"><span>@jahirmamun</span></i>
      						</div>
      						<div class="tweet-blog-text padding-top-20">
      							<a href="#">http://goo.gl/kaKnUP</a>
      							<span>Click Here
      							</span>
      						</div>
      						<div class="tweet-blog-time padding-top-15">
      							<span>- 4 Hours ago</span>
      						</div>
      						<div class="blog-like ul-li padding-top-15">
      							<ul class="like-list">
      								<li class="margin-right-20"><a href="#"><i class="fa fa-heart-o" aria-hidden="true">152</i></a></li>
      								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true">25</i></a></li>
      							</ul>
      						</div>
      					</div>
      				</div>
      				<!-- //tweet -->
      			</div>
      			<!-- /side-bar -->
      		</div>
      	</div>
      	<!-- /row -->
      </div>
  </div>
</div>
</section>
      <!--End of blog-catergoy-2
      ============================================= -->
      <!-- Start of news-latter
      ============================================= -->
      <section id="news-latter" class="newslatter-section v-v2">
      	<div class="container">
      		<div class="row section-content">
      			<div class="newslatter-content">
      				<div class="row">
      					<div class="col-sm-5">
      						<div class="kc-elm kc-css-154902 kc_text_block">
      							<div class="callto-action">
      								<p><button class="btn " type="submit">SIGN UP FREE!</button></p>
      								<div class="title">OUR WEEKLY NEWSLETTER</div>
      							</div>
      						</div>
      					</div>
      					<!-- /col-sm-5 -->
      					<div class="col-sm-7">
      						<div class="kc-elm kc-css-46029 kc_text_block">
      							<p>I just want to thank you for your help. I am so pleased and grateful.</p>
      						</div>
      						<div class="widget widget-newletter style1">
      							<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-227 mc4wp-form-basic" method="post" data-id="227" data-name="newletters">
      								<div class="mc4wp-form-fields">
      									<div class="mail-form">
      										<input type="text" name="FNAME" placeholder="Name*" class="form-control">
      										<input type="email" name="EMAIL" placeholder="Email*" class="form-control" required="">
      										<span class="input-group-btn"> 
      											<button class="btn " type="submit">Submit</button> 
      										</span> 
      									</div>
      								</div>
      							</form>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </section>
      <!-- End of newslatter
      ============================================= -->
      <!-- Start of footer
      ============================================= -->
      <footer>
      	<section id="footer-area-v2" class="footer-area-v2-section">
      		<div class="container">
      			<div class="row section-content">
      				<div class="footer-area-v2-content">
      					<div class="row">
      						<div class="col-sm-3">
      							<div class="kc-elm kc-css-568202 kc_col-sm-3 kc_column_inner kc_col-sm-3">
      								<div class="kc_wrapper kc-col-inner-container">
      									<div class="kc-elm kc-css-23375 kc_shortcode kc_single_image">
      										<figure><img src="assets/img/f-logo.png" class="" alt=""></figure>
      									</div>
      									<div class="kc-elm kc-css-650694 kc_text_block">
      										<p>
      											This is Photoshop's version  of Lorem  ain gravida nibh vel velit ctor aliquet. an itudin, lorem quis.
      										</p>
      									</div>
      									<div class="kc-elm kc-css-791968 kc_text_block">
      										<p>
      											Duis sed odio sit amet nibh vulputate us a sit amet mauris.
      										</p>
      									</div>
      									<div class="widget widget-social">
      										<div class="widget-content">
      											<ul class="social list-inline">
      												<li>
      													<a href="#" title="">
      														<i class="mn-icon-1405"></i>
      													</a>
      												</li>
      												<li>
      													<a href="#" title="">
      														<i class="mn-icon-1406"></i>
      													</a>
      												</li>
      												<li>
      													<a href="#" title="">
      														<i class="mn-icon-1407"></i>
      													</a>
      												</li>
      												<li>
      													<a href="#" title="">
      														<i class="mn-icon-1408"></i>
      													</a>
      												</li>
      											</ul>
      										</div>
      									</div>
      								</div>
      							</div>
      						</div>
      						<!-- /col-sm-3 -->
      						<div class="col-sm-3">
      							<div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
      								<div class="kc_wrapper kc-col-inner-container">
      									<div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
      										<div class="title-wrapper">
      											<h3 class="kc_title raleway">Company</h3>
      										</div>
      									</div>
      									<div class="widget widget_apus_custom_menu kc-elm kc-css-937947">
      										<div class="apus_custom_menu">
      											<div class="widget widget_nav_menu">
      												<div class="menu-footer-2-container">
      													<ul class="menu">
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="#">About Us</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Brands</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">gift vouchers</a></li>
      														<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="#">Site Map</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="#">Testimonials</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2214"><a href="#">Affiliate Programs</a></li>
      													</ul>
      												</div>
      											</div>
      										</div>
      									</div>
      								</div>
      							</div>
      						</div>
      						<!-- /col-sm-3 -->
      						<div class="col-sm-3">
      							<div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
      								<div class="kc_wrapper kc-col-inner-container">
      									<div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
      										<div class="title-wrapper">
      											<h3 class="kc_title raleway">Uesfull</h3>
      										</div>
      									</div>
      									<div class="widget widget_apus_custom_menu kc-elm kc-css-937947">
      										<div class="apus_custom_menu">
      											<div class="widget widget_nav_menu">
      												<div class="menu-footer-2-container">
      													<ul  class="menu">
      														<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="#">Product Support</a></li>
      														<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Contact Us</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">Knowledge Base</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="#">FAQs</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="#">Live Chat</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2214"><a href="#">Request a Quote</a></li>
      													</ul>
      												</div>
      											</div>
      										</div>
      									</div>
      								</div>
      							</div>
      						</div>
      						<!-- /col-sm-3 -->
      						<div class="col-sm-3">
      							<div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
      								<div class="kc_wrapper kc-col-inner-container">
      									<div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
      										<div class="title-wrapper">
      											<h3 class="kc_title raleway">All SERVICE</h3>
      										</div>
      									</div>
      									<div class="widget widget_apus_custom_menu kc-elm kc-css-937947">
      										<div class="apus_custom_menu">
      											<div class="widget widget_nav_menu">
      												<div class="menu-footer-2-container">
      													<ul  class="menu">
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="#">Broadband</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Best Selling Plans</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">Wifi Zone</a></li>
      														<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="#">Pay Bills (All User)</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="#">New Connection</a></li>
      														<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2214"><a href="#">Secure Internet</a></li>
      													</ul>
      												</div>
      											</div>
      										</div>
      									</div>
      								</div>
      							</div>
      						</div>
      						<!-- /col-sm-3 -->
      					</div>
      				</div>
      			</div>
      		</div>
      	</section>
      	<!-- /footer area -->
      	<div class="copy-right">
      		<div class="container">
      			<div class="row">
      				<div class="copy-right-area">
      					<div class="row">
      						<div class="col-sm-6">
      							<div class="kc-elm kc-css-971029 kc_text_block">
      								<p>© Copyright 2016 <a href="#">Noanet by HTML</a> | All Rights Reserved.</p>
      							</div>
      						</div>
      						<div class="col-sm-6">
      							<div class="kc-elm kc-css-135015 kc_shortcode kc_single_image pull-right">
      								<figure><img src="assets/img/pay.png" class="" alt="" data-pin-nopin="true"></figure>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </footer>
      <!-- End of footer
      ============================================= -->
      <!--  Js Library -->
      <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js"></script>
      <!-- Include  for bootstrap -->
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
      <!-- Include  for Owl-carousel -->
      <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
      <!-- Include  for magnific-popup -->
      <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
      <script type="text/javascript" src="assets/js/lightbox.js"></script>
      <!-- Include for counter up -->
      <script type="text/javascript" src="assets/js/waypoints.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery.counterup.min.js"></script>
      <!-- Include Apper Js -->
      <script type="text/javascript" src="assets/js/jquery.isotope.min.js"></script>
      <!-- Include Apper Js -->
      <script type="text/javascript" src="assets/js/wow.min.js"></script>
      <script type="text/javascript">new WOW().init();</script>
      <!-- Include script.js -->
      <script type="text/javascript" src="assets/js/script.js"></script>
  </body>
  </html>