fos_user:
  db_driver: orm
  firewall_name: main
  user_class: App\Entity\User
  from_email:
    address: "%env(MAILER_ADDRESS)%"
    sender_name: "%env(MAILER_SENDER_NAME)%"
  registration:
    confirmation:
      enabled: true
      template: FOSUserBundle:Registration:email.txt.twig
    form:
      type: App\Form\RegistrationType

