/.web-server-pid
/.env.local
/.env.*.local
/public/bundles/
/app/config/parameters.yml
/build/
/phpunit.xml
.phpunit
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea
.php_cs.cache
/web/avatars/*
/web/screens/*
/postgres-data/
/socket-server/node_modules
/public/screens/
/public/avatars/
/public/articles/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
