<div class="main-menu pull-left">
    <nav data-duration="400" class="hidden-xs hidden-sm apus-megamenu slide animate navbar">
        <div class="collapse navbar-collapse">
            <ul id="primary-menu" class="nav navbar-nav megamenu">
                {% include 'common/main_menu/items.html.twig' %}
            </ul>
        </div>
    </nav>
</div>