<div class="index-page-faq-item">
    <div class="index-page-faq-q"><a href="#null">На каких условиях сотрудничают стороны?</a></div>
    <div class="index-page-faq-a">Вы решаете сами, как и где вам сотрудничать и на каких условиях.
        <br/>
        Вы можете договориться об оплате труда за обмен опытом или любую другую компенсацию
    </div>
</div>
<div class="index-page-faq-item">
    <div class="index-page-faq-q"><a href="#null">Как происходит коммуникация между
            единомышленниками?</a></div>
    <div class="index-page-faq-a">Вы можете общаться через форму «Диалоги» на нашем сайте, выбрать
        любой независимый мессенджер/почту,
        даже встречаться онлайн
    </div>
</div>
<div class="index-page-faq-item">
    <div class="index-page-faq-q"><a href="#null">Почему teamstarter, а не акселератор?</a></div>
    <div class="index-page-faq-a">После того, как соберешь команду и запилишь версию, возможно пойти
        в акселератор и начинать искать
        инвестиции
    </div>
</div>
<div class="index-page-faq-item">
    <div class="index-page-faq-q"><a href="#null">Кто будет/может искать команду для стартапа через
            этот сервис?</a></div>
    <div class="index-page-faq-a"> Любой человек, обладающий базовыми (и не только) навыками и
        знаниями в IT-области или интересной идеей,
        способной в теории превратиться в успешный стартап совместными усилиями команды
    </div>
</div>
<div class="index-page-faq-item">
    <div class="index-page-faq-q"><a href="#null">Какие проекты можно регистрировать на этом
            сервисе?</a></div>
    <div class="index-page-faq-a">Только цензурные и интересные проекты, заинтересованные в честном
        сотрудничестве с единомышленниками
        Наша команда проверяет профили участников и проекты. Каждый участник и проект подтверждены. 
    </div>
</div>
<div class="index-page-faq-item">
    <div class="index-page-faq-q"><a href="#null">Как быть, если мне не ответили в ответ на
            предложение о сотрудничестве?</a></div>
    <div class="index-page-faq-a">Мы надеемся на взаимное уважение участников проекта и на то, что
        отклики не останутся без ответов.
        Тем не менее, мы рекомендуем учесть, что:
        <ul>
            <li> - возможно, ваше сообщение затерялось в диалогах и было не просмотрено</li>
            <li> - ваше сообщение было просмотрено, но по какой-то причине другой участник забыл вам
                ответить
            </li>
            <li> - участнику был неинтересен ваш отклик, и он посчитал нужным на него не отвечать
                (это «увы, конечно)
            </li>
        </ul>
        Как поступать в этом случае, решать вам. Однако, если вы действительно заинтересованы в
        сотрудничестве,
        имеет смысл попробовать написать повторно.
    </div>
</div>