body {
    background-color: #2C3136;
    color: #AAACAF;
}
div#main-container {
    margin: 0px;
    padding: 0px;
}

div#registration-container {
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #2C3136;
}

div.ts-form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2C3136;
}

div.ts-form-container h2 {
    margin-top: 10px;
   font-size: 24px;
    font-weight: normal;
}

div.ts-form-container .hint {
    font-size: 14px;
    font-weight: normal;
}

div.ts-form-container label.disabled {
    color: #AAACAF;
}

div.ts-form-container button[type="submit"] {
    margin-top: 10px;
}

.register-form, .ts-form {
    border-radius: 5px;
    background-color: #FAFBFC;
    color: #596068;
    padding: 20px 10px 50px 10px;
}

.register-form .form-label {
    display: block;
}

.register-form .form-label {
    margin-top: 10px;
}

.register-form .bottom-submit {
    margin-top: 4px;
}

.register-form div.privacy {
    text-align: center;
    font-size: 13px;
    padding: 5px;
}

#registration-container h1 {
    font-size: 40px;
}

#registration-container h2 {
    margin-top: 16px;
    font-size: 28px;
}

#registration-container {
    font-size: 18px;
    font-weight: 300;
    color: #AAACAF;
}

span.error {
    color: #861825;
    font-size: 13px;
    padding: 5px;
}

div.error {
    color: #861825;
    font-size: 16px;
    padding: 5px;
}

.locale-item img {
    width: 32px;
    /*border: 1px solid #ffffff;*/
}

.flash-success {
    margin: 30px 10px 10px 10px;
}

.message {
    margin-top: 10px;
}

.flash-success, .message {
    text-align: center;
}

div.register-form-sn-login {
    text-align: center;
}

.register-form-sn-login a {
    font-size: 40px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #596068;
}

.register-form  label.login-remember-me {
    height:64px;
    line-height: 64px;
    display: inline;
}

.register-form  div.login-remember-me {
    padding-top: 3px;
    font-size: 14px;
}

li.avatar .placeholder {
    height: 64px;
    border-radius: 50%;
}

li.avatar .real {
    height: 64px;
    border-radius: 50%;
}

div.skill-input {
    padding-top: 5px;
    padding-bottom: 5px;
}