{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="message">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
{% endblock fos_user_content %}
