{% extends "@FOSUser/layout.html.twig" %}
{% block title %} {{ 'title.index_page' | trans }} {% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="message">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
{% endblock fos_user_content %}
