imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    container.autowiring.strict_mode: true
    from_email: 'voff.web@gmail.com'

framework:
    #esi: ~
    translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true
    workflows:
        project_flow:
            type: 'state_machine'
            marking_store:
                type: 'single_state'
                arguments:
                    - 'progressStatus'
            supports:
                - AppBundle\Entity\Project
            places:
                - !php/const AppBundle\Entity\Project::STATUS_UNFINISHED
                - !php/const AppBundle\Entity\Project::STATUS_INREVIW
                - !php/const AppBundle\Entity\Project::STATUS_DECLINED
                - !php/const AppBundle\Entity\Project::STATUS_PUBLISHED
                - !php/const AppBundle\Entity\Project::STATUS_CLOSED
            transitions:
                to_review:
                    from: !php/const AppBundle\Entity\Project::STATUS_UNFINISHED
                    to:   !php/const AppBundle\Entity\Project::STATUS_INREVIW
                publish:
                    from: !php/const AppBundle\Entity\Project::STATUS_INREVIW
                    to:   !php/const AppBundle\Entity\Project::STATUS_PUBLISHED
                re_moderate:
                    from: !php/const AppBundle\Entity\Project::STATUS_PUBLISHED
                    to:   !php/const AppBundle\Entity\Project::STATUS_INREVIW
                decline:
                    from: !php/const AppBundle\Entity\Project::STATUS_INREVIW
                    to:   !php/const AppBundle\Entity\Project::STATUS_DECLINED
                close:
                    from: !php/const AppBundle\Entity\Project::STATUS_PUBLISHED
                    to:   !php/const AppBundle\Entity\Project::STATUS_CLOSED
                re_open:
                    from: !php/const AppBundle\Entity\Project::STATUS_CLOSED
                    to:   !php/const AppBundle\Entity\Project::STATUS_INREVIW


# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    globals:
        avatart_placeholder: '%avatart_placeholder%'
        avatar_max_size: '%avatar_max_size%'
        fineUploader:
            debug: 'true'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address: '%from_email%'
        sender_name: TeamStarter
    registration:
        confirmation:
            enabled: true
            template: FOSUserBundle:Registration:email.txt.twig
        form:
            type: AppBundle\Form\RegistrationType

doctrine_migrations:
    dir_name: "%kernel.root_dir%/DoctrineMigrations"
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations
    organize_migrations: false

swiftmailer:
    transport: "%mailer_transport%"
    encryption: "%mailer_encryption%"
    host: "%mailer_host%"
    username: "%mailer_user%"
    password: "%mailer_password%"
    auth_mode: "%mailer_auth_mode%"
    port: "%mailer_port%"
    spool: { type: memory }

hwi_oauth:
    connect:
        account_connector: my_user_provider
    firewall_name: main
    fosub:
        username_iterations: 30
        properties:
            facebook: facebook_id
#            google: google_id
    resource_owners:
        facebook:
            type:                facebook
            client_id:           "%facebook_client_id%"
            client_secret:       "%facebook_secret%"
            scope:               "public_profile,email"
            infos_url:           "https://graph.facebook.com/v2.8/me?fields=first_name,last_name,name,email,picture.width(320)"
        google:
            type:                google
            client_id:           "%google_app_id%"
            client_secret:       "%google_app_secret%"
            scope:               "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
        github:
            type:                github
            client_id:           "%github_client_id%"
            client_secret:       "%github_secret%"
            scope:               'read:user'

knp_paginator:
    page_range: 5                       # number of links showed in the pagination menu (e.g: you have 10 pages, a page_range of 3, on the 5th page you'll see links to page 4, 5, 6)
    default_options:
        page_name: page                 # page query parameter name
        sort_field_name: sort           # sort field query parameter name
        sort_direction_name: direction  # sort direction query parameter name
        distinct: true                  # ensure distinct results, useful when ORM queries are using GROUP BY statements
        filter_field_name: filterField  # filter field query parameter name
        filter_value_name: filterValue  # filter value query parameter name
    template:
        pagination: 'common/pagination.html.twig'    # sliding pagination controls template
        sortable: '@KnpPaginator/Pagination/sortable_link.html.twig' # sort link template
        filtration: '@KnpPaginator/Pagination/filtration.html.twig'  # filters template

fos_elastica:
    clients:
        default: { host: "%elastic_host%", port: "%elastic_port%" }
    indexes:
        projects:
              index_name: projects_%kernel.environment%
              types:
                  projects:
                      properties:
                          name: ~
                          description: ~
                          mission: ~
                          country: ~
                          city: ~
                          progress_status: ~
                      persistence:
                          # the driver can be orm, mongodb or phpcr
                          driver: orm
                          model: AppBundle\Entity\Project
                          provider: ~
                          finder: ~