# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: gmail
    mailer_auth_mode: login
    mailer_encryption: ssl
    mailer_port: null
    mailer_host: smtp.gmail.com
    mailer_user: username@gmail.com
    mailer_password: my_password

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    facebook_client_id: ""
    facebook_secret: ""
    google_app_id: ""
    google_app_secret: ""
    github_client_id: ""
    github_secret: ""

    avatart_placeholder: /images/avatar_placeholder.jpg
    avatar_max_size: 2000000
    project_screen_max_size: 2000000

    elastic_host: localhost
    elastic_port: 9200

    websocket_url: http://localhost
    websocket_port: 8081
