<footer>
    <section id="footer-area-v2" class="footer-area-v2-section">
        <div class="container">
            <div class="row section-content">
                <div class="footer-area-v2-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="kc-elm kc-css-568202 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                                <div class="kc_wrapper kc-col-inner-container">
                                    <div class="kc-elm kc-css-23375 kc_shortcode kc_single_image">
                                        <figure><img src="/assets/img/f-logo.png" class="" alt=""></figure>
                                    </div>
                                    <div class="kc-elm kc-css-650694 kc_text_block">
                                        <p>
                                            This is Photoshop's version  of Lorem  ain gravida nibh vel velit ctor aliquet. an itudin, lorem quis.
                                        </p>
                                    </div>
                                    <div class="kc-elm kc-css-791968 kc_text_block">
                                        <p>
                                            Duis sed odio sit amet nibh vulputate us a sit amet mauris.
                                        </p>
                                    </div>
                                    <div class="widget widget-social">
                                        <div class="widget-content">
                                            <ul class="social list-inline">
                                                <li>
                                                    <a href="#" title="">
                                                        <i class="mn-icon-1405"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <i class="mn-icon-1406"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <i class="mn-icon-1407"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <i class="mn-icon-1408"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                            <div class="kc-elm  kc_col-sm-3 kc_column_inner kc_col-sm-3">
                                <div class="kc_wrapper kc-col-inner-container">
                                    <div class="kc-elm  kc-title-wrap  left lighting">
                                        <div class="title-wrapper">
                                            <h3 class="kc_title raleway">Company</h3>
                                        </div>
                                    </div>
                                    <div class="widget widget_apus_custom_menu kc-elm kc-css-937947">
                                        <div class="apus_custom_menu">
                                            <div class="widget widget_nav_menu">
                                                <div class="menu-footer-2-container">
                                                    <ul class="menu">
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="#">About Us</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Brands</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">gift vouchers</a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="#">Site Map</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="#">Testimonials</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2214"><a href="#">Affiliate Programs</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                            <div class="kc-elm  kc_col-sm-3 kc_column_inner kc_col-sm-3">
                                <div class="kc_wrapper kc-col-inner-container">
                                    <div class="kc-elm  kc-title-wrap  left lighting">
                                        <div class="title-wrapper">
                                            <h3 class="kc_title raleway">Uesfull</h3>
                                        </div>
                                    </div>
                                    <div class="widget widget_apus_custom_menu kc-elm">
                                        <div class="apus_custom_menu">
                                            <div class="widget widget_nav_menu">
                                                <div class="menu-footer-2-container">
                                                    <ul  class="menu">
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="#">Product Support</a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Contact Us</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">Knowledge Base</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="#">FAQs</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="#">Live Chat</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2214"><a href="#">Request a Quote</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                            <div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                                <div class="kc_wrapper kc-col-inner-container">
                                    <div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
                                        <div class="title-wrapper">
                                            <h3 class="kc_title raleway">All SERVICE</h3>
                                        </div>
                                    </div>
                                    <div class="widget widget_apus_custom_menu kc-elm kc-css-937947">
                                        <div class="apus_custom_menu">
                                            <div class="widget widget_nav_menu">
                                                <div class="menu-footer-2-container">
                                                    <ul  class="menu">
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="#">Broadband</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Best Selling Plans</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">Wifi Zone</a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="#">Pay Bills (All User)</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="#">New Connection</a></li>
                                                        <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2214"><a href="#">Secure Internet</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /col-sm-3 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /footer area -->
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="copy-right-area">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="kc-elm kc-css-971029 kc_text_block">
                                <p>© Copyright 2016 <a href="#">Noanet by HTML</a> | All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="kc-elm kc-css-135015 kc_shortcode kc_single_image pull-right">
                                <figure><img src="/assets/img/pay.png" class="" alt="" data-pin-nopin="true"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>