<div id="wrapper-container" class="wrapper-container">
    <div id="apus-mobile-menu" class="apus-offcanvas hidden-lg hidden-md">
        <div class="apus-offcanvas-body">
            <div class="offcanvas-head">
                <button type="button" class="btn btn-toggle-canvas" data-toggle="offcanvas">
                    <i class="fa fa-close"></i>
                </button>
                <strong>MENU</strong>
            </div>
            <nav class="navbar navbar-offcanvas navbar-static">
                <div class="navbar-collapse navbar-offcanvas-collapse">
                    <ul id="main-mobile-menu" class="nav navbar-nav">
                        <li class="has-submenu active">
                            <a href="home-1.html">Home</a> <span class="icon-toggle"></span>
                            <ul class="sub-menu">
                                <li><a href="#">Home 1</a></li>
                                <li><a href="#">Home 2</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="blog-categories.html">Blog</a> <span class="icon-toggle"></span>
                            <ul class="sub-menu">
                                <li><a href="#">Chess Layout</a></li>
                                <li  class="has-submenu">
                                    <a href="#">Grid Layout</a> <span class="icon-toggle"></span>
                                    <ul class="sub-menu">
                                        <li><a href="#">2 Column</a></li>
                                        <li><a href="#">3 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">List Layout</a></li>
                                <li  class="has-submenu">
                                    <a href="#">Masonry Layout</a> <span class="icon-toggle"></span>
                                    <ul class="sub-menu">
                                        <li><a href="#">2 Column</a></li>
                                        <li><a href="#">3 Column</a></li>
                                    </ul>
                                </li>
                                <li  class="menu-item-19"> <a href="#">Timeline Layout</a></li>
                                <li  class="has-submenu">
                                    <a href="#">Detail with sidebar</a> <span class="icon-toggle"></span>
                                    <ul class="sub-menu">
                                        <li><a href="#">Left Sidebar</a></li>
                                        <li><a href="#">Right Sidebar</a></li>
                                        <li><a href="#">Without Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="pricing.html">Pricing</a> <span class="icon-toggle"></span>
                            <ul class="sub-menu">
                                <li><a href="#">Pricing Plans</a></li>
                                <li><a href="#">FQA</a></li>
                                <li><a href="#">Our Gallery</a></li>
                                <li> <a href="#">404 Error</a></li>
                            </ul>
                        </li>
                        <li><a href="service.html">Our Services</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="contact_num">
                    <h2><i class="fa fa-phone"></i> +(800)1542545</h2>
                </div>
                <div class="mobile-login text-center margin-top-30">
                    <button href="#"><i class="fa fa-user"></i> Login</button>
                </div>

                <div id="id01" class="modal">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close-1" title="Close">&times;</span>

                        </div>

                        <div class="login-mbl">

                            <input class="margin-bottom-20" type="text" placeholder="Enter Username" name="uname" required>


                            <input type="password" placeholder="Enter Password" name="psw" required>


                            <label for="apus-user-remember">
                                <input class="checkbox-noanet margin-top-20" type="checkbox" name="remember" id="apus-user-remember-mobile" value="true"> Remember Me                          </label>
                            <div class="mobile-login text-center margin-top-30">
                                <button type="submit">Login</button>
                            </div>
                        </div>


                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>