<ul class="navbar-nav mr-sm-2">
    <li class="nav-item">
        <a class="nav-link" href="/login">{{ 'sign_in'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/register">{{ 'sign_up'|trans }}</a>
    </li>
</ul>