{% extends 'base.html.twig' %}

{% block body %}
    <div class="container index-page-containner">
        <div class="row">
            <p><span>TeamStarter</span> - это сервис для подбора команды в условиях, когда у проекта нет финансирования. Это возможность найти не сотрудников, но партнеров-энтузиастов, готовых работать над проектом в качестве хобби, в свободное время, получая за работу полезный опыт, портфолио и профит в будущем. </p>
            <p>Есть много людей с хорошими идеями, но без денег. Есть много специалистов, обладающих внушительным опытом, желающих получить опыт боевой работы в смежной специальности, и готовых тратить на это по несколько часов в день. Есть много начинающих специалистов, готовых работать по несколько часов в день ради опыта. Есть люди, готовые вложить в интересную идею не деньги, а знания и опыт.</p>
            <p>TeamStarter - это сервис, объединяющий таких людей. Это проект, это эксперимент, доказывающий, что в людях жив энтузиазм. Это возможность творить стартапы и воплощать идеи, не имея финансирования. Это возможность набирать новые знания на боевых проектах, не бросая текущую работу.</p>

        </div>
    </div>
{% endblock %}
