{% extends 'base.html.twig' %}
{% block title %} {{ 'title.index_page' | trans }} {% endblock %}
{% block body %}
    <div class="row">
        <p>Teamstarter very first page</p>
    </div>
{% endblock %}
