{% extends 'base.html.twig' %}
{% block title %} {{ 'title.index_page' | trans }} {% endblock %}
{% block body %}

    <div id="preloader"></div>
    <div id="apus-header-mobile" class="header-mobile hidden-lg hidden-md clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="active-mobile pull-left">
                        <button data-toggle="offcanvas" class="btn btn-sm btn-danger btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="logo logo-theme">
                        <a href="/" >
                            <img src="/images/logo.png" alt="Noanet">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="lv_search_bar" id="search_button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <div id="search_open" class="lv_search_box">
                        <input type="text" placeholder="Search here">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start of Header
    ============================================= -->
    <header id="apus-header" class="site-header header-default hidden-sm hidden-xs main-sticky-header-wrapper">
        <div class="main-sticky-header">
            <div class="header-main clearfix">
                <div class="container-fluid">
                    <div class="header-inner">
                        <div class="row">
                            <!-- LOGO -->
                            <div class="col-md-2">
                                <div class="logo-in-theme pull-left">
                                    <div class="logo logo-theme">
                                        <a href="/">
                                            <img src="/images/logo.png" style="height: 78px;" alt="Noanet">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 p-static">
                                <!-- //LOGO -->
                                <div class="pull-right hidden-sm hidden-xs">
                                    <div class="pull-right  header-setting">
                                        <div class="setting-popup pull-right">

                                            <div class="index-page-user-menu">
                                                {% include 'common/user_menu.html.twig' %}
                                            </div>
                                            {% include 'common/login_modal.html.twig'  with {'login_modal_id': 'myModal'} %}

                                        </div>
                                    </div>
                                </div>
                                <div class="main-menu  pull-left">
                                    <nav
                                            data-duration="400" class="hidden-xs hidden-sm apus-megamenu slide animate navbar">
                                        <div class="collapse navbar-collapse">
                                            <ul id="primary-menu" class="nav navbar-nav megamenu">
                                                {% include 'common/main_menu/items.html.twig' %}
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-top-search-form">
                    <div class="apus-search-form">
                        <form action="#" method="get">
                            <div class="input-group">
                                <input type="text" placeholder="Search" name="s" class="apus-search form-control"/>
                                <button class="close-search-form" type="button">
                                    <i class="mn-icon-4"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header
    ============================================= -->
    {% include 'common/index_page/carousel.html.twig' %}
    <!-- Start of feature box
    ============================================= -->
    <section id="feature-box" class="feature-box-section">
        <div class="container">
            <div class="row section-content">
                <div class="kc-elm kc-css-796044 kc_row kc_row_inner">
                    <div class="col-sm-4">
                        <div class="kc-elm kc-css-593244 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded colmd4">
                            <div class="kc_wrapper kc-col-inner-container">
                                <div class="widget widget-features-box style1">
                                    <div class="content">
                                        <div class="feature-box">
                                            <div class="fbox-img">
                                                <div class="fbox-icon">
                                                    <div class="inner">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fbox-content">
                                                <h3 class="ourservice-heading raleway">Best Speed</h3>
                                                <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="col-sm-4">
                        <div class="kc-elm kc-css-593244 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded colmd4">
                            <div class="kc_wrapper kc-col-inner-container">
                                <div class="widget widget-features-box style1">
                                    <div class="content">
                                        <div class="feature-box">
                                            <div class="fbox-img">
                                                <div class="fbox-icon">
                                                    <div class="inner">
                                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fbox-content">
                                                <h3 class="ourservice-heading raleway">installation & setup</h3>
                                                <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="col-sm-4">
                        <div class="kc-elm kc-css-593244 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded colmd4">
                            <div class="kc_wrapper kc-col-inner-container">
                                <div class="widget widget-features-box style1">
                                    <div class="content">
                                        <div class="feature-box">
                                            <div class="fbox-img">
                                                <div class="fbox-icon">
                                                    <div class="inner">
                                                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fbox-content">
                                                <h3 class="ourservice-heading raleway">24 x 7 Service</h3>
                                                <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of feature box
    ============================================= -->
    <!-- Start of your Plan
    ============================================= -->
    <section id="your-plan" class="your-plan-section">
        <div class="container">
            <div class="row section-content">
                <div class="kc-elm kc-css-294644 kc-title-wrap raleway  dark">
                    <div class="title-wrapper">
                        <h3 class="kc_title"><span>CHOOSE</span> YOUR PLAN</h3>
                    </div>
                </div>
                <!-- /title -->
                <div class="pricing-table">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center colmd3">
                                <div class="header-pricing">
                                    <div class="content-title">
                                        <div>Basic</div>
                                        <div class="content-sub-title">Council Plan
                                        </div>
                                    </div>
                                    <div class="kc-pricing-price">
                                        <span class="content-currency">$</span>
                                        <span class="content-price">13</span>
                                        <span class="content-duration">per month</span>
                                    </div>
                                </div>
                                <ul class="content-desc">
                                    <li>40 GB Data Limit
                                    </li>
                                    <li>Unlimited Bandwidth
                                    </li>
                                    <li>4* MBPS Speed
                                    </li>
                                    <li>Free 2GB Night Data
                                    </li>
                                    <li>No Installation charges </li>
                                </ul>
                                <div class="content-button text-uppercase"><a href="#">Get Now!</a></div>
                            </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center colmd3">
                                <div class="priceing-label">
                                    BEST SELLER
                                </div>
                                <div class="header-pricing">
                                    <div class="content-title">
                                        <div>Standard</div>
                                        <div class="content-sub-title">Silver Plan
                                        </div>
                                    </div>
                                    <div class="kc-pricing-price">
                                        <span class="content-currency">$</span>
                                        <span class="content-price">22</span>
                                        <span class="content-duration">per month</span>
                                    </div>
                                </div>
                                <ul class="content-desc">
                                    <li>80 GB Data Limit
                                    </li>
                                    <li>Unlimited Bandwidth
                                    </li>
                                    <li>4+8 MBPS Speed
                                    </li>
                                    <li>Free 8GB Night Data
                                    </li>
                                    <li>No Installation charges </li>
                                </ul>
                                <div class="content-button text-uppercase"><a href="#">Get Now!</a></div>
                            </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center colmd3">
                                <div class="header-pricing">
                                    <div class="content-title">
                                        <div>Premium</div>
                                        <div class="content-sub-title">Gold Plan
                                        </div>
                                    </div>
                                    <div class="kc-pricing-price">
                                        <span class="content-currency">$</span>
                                        <span class="content-price">46</span>
                                        <span class="content-duration">per month</span>
                                    </div>
                                </div>
                                <ul class="content-desc">
                                    <li>120 GB Data Limit
                                    </li>
                                    <li>Unlimited Bandwidth
                                    </li>
                                    <li>8+8 MBPS Speed
                                    </li>
                                    <li>Free 8GB Night Data
                                    </li>
                                    <li>No Installation charges </li>
                                </ul>
                                <div class="content-button text-uppercase"><a href="#">Get Now!</a></div>
                            </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center colmd3">
                                <div class="header-pricing">
                                    <div class="content-title">
                                        <div>Ultimate</div>
                                        <div class="content-sub-title">Business Plan
                                        </div>
                                    </div>
                                    <div class="kc-pricing-price">
                                        <span class="content-currency">$</span>
                                        <span class="content-price">79</span>
                                        <span class="content-duration">per month</span>
                                    </div>
                                </div>
                                <ul class="content-desc">
                                    <li>200 GB Data Limit
                                    </li>
                                    <li>Unlimited Bandwidth
                                    </li>
                                    <li>8+12 MBPS Speed
                                    </li>
                                    <li>Free 15GB Night Data
                                    </li>
                                    <li>No Installation charges </li>
                                </ul>
                                <div class="content-button text-uppercase"><a href="#">Get Now!</a></div>
                            </div>
                        </div>
                        <!-- /col-sm-3 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of your Plan
    ============================================= -->
    <!-- Start of free download
    ============================================= -->
    <section id="free-download" class="free-download-section">
        <div class="container">
            <div class="row section-content">
                <div class="free-download-section-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="kc-elm kc-css-579815 kc_col-sm-6 kc_column_inner kc_col-sm-6 kc-pc-loaded">
                                <div class="kc_wrapper kc-col-inner-container">
                                    <div class="kc-elm kc-css-105051 hidden-sm hidden-xs"></div>
                                    <div class="kc-elm kc-css-741884 hidden-md hidden-lg"></div>
                                    <div class="kc-elm kc-css-659695 kc_text_block">
                                        <div class="intro">
                                            <div class="title">Fast Download &amp; Upload<br>
                                                Speeds at an Affordable Price
                                            </div>
                                            <div class="description">
                                                <p>When choosing among the best high speed Internet providers, there are<br>
                                                    several other factors that should be taken into consideration besides just the available download speeds.
                                                </p>
                                                <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kc-elm kc-css-115932 hidden-sm hidden-xs"></div>
                                    <div class="contact-info ">
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="phone"><span>(800)</span> 548 2457<br>
                                                    <span>(800)</span> 154 2545
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                16 Barnes Wallis Way, Buckshaw<br>
                                                Village, Chorley, United States<br>
                                                Email : <a href="#">noanet@example.com</a><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kc-elm kc-css-634025 hidden-md hidden-lg" ></div>
                                    <div class="kc-elm kc-css-556965 hidden-sm hidden-xs"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of free download
    ============================================= -->
    <!-- Start of service
    ============================================= -->
    <section id="service" class="service-section">
        <div class="container">
            <div class="row section-content-2">
                <div class="kc-elm kc-css-294644 kc-title-wrap raleway  dark">
                    <div class="title-wrapper">
                        <h3 class="kc_title"><span>OUR</span>  SERVICES</h3>
                    </div>
                </div>
                <!-- /title -->
                <div class="service-section-content clearfix">
                    <div class="service-tab row">
                        <div class="tab">
                            <!-- tab-title -->
                            <ul class="tabs col-md-3 col-sm-6 active text-uppercase">
                                <li class="current"><a href="#"><i class="mn-icon-978"></i>Best Selling Plans</a></li>
                                <li class=""><a href="#"><i class="mn-icon-786"></i>Broadband</a></li>
                                <li class=""><a href="#"><i class="mn-icon-780"></i>Wifi Zone</a></li>
                                <li class=""><a href="#"><i class="mn-icon-792"></i>Pay Bills (All User)</a></li>
                                <li class=""><a href="#"><i class="mn-icon-776"></i>New Connection </a></li>
                                <li class=""><a href="#"><i class="mn-icon-825"></i>Secure Internet</a></li>
                            </ul>
                            <!-- / tabs -->
                            <div class="col-md-4 col-sm-6">
                                <div class="service-pic">
                                    <img src="assets/img/tab-contetn-bg.jpg" alt="image">
                                </div>
                            </div>
                            <div class="tab_content col-md-5 col-sm-12 padding-top-54">
                                <div class="tabs_item">
                                    <div class="media-body">
                                        <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>BroadBand (Router)</div>
                                        <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                        <ul>
                                            <li>Noanet Internet Router</li>
                                            <li>Free Modem and Router</li>
                                            <li>25 % Off for New Connections</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / tabs_item -->
                                <div class="tabs_item">
                                    <div class="media-body">
                                        <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>Best Selling Plans</div>
                                        <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                        <ul>
                                            <li>Noanet Internet Router</li>
                                            <li>Free Modem and Router</li>
                                            <li>25 % Off for New Connections</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / tabs_item -->
                                <div class="tabs_item">
                                    <div class="media-body">
                                        <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>Wifi Zone</div>
                                        <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                        <ul>
                                            <li>Noanet Internet Router</li>
                                            <li>Free Modem and Router</li>
                                            <li>25 % Off for New Connections</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / tabs_item -->
                                <div class="tabs_item">
                                    <div class="media-body">
                                        <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>Pay Bills (All User)</div>
                                        <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                        <ul>
                                            <li>Noanet Internet Router</li>
                                            <li>Free Modem and Router</li>
                                            <li>25 % Off for New Connections</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / tabs_item -->
                                <div class="tabs_item">
                                    <div class="media-body">
                                        <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>New Connection </div>
                                        <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                        <ul>
                                            <li>Noanet Internet Router</li>
                                            <li>Free Modem and Router</li>
                                            <li>25 % Off for New Connections</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / tabs_item -->
                                <div class="tabs_item">
                                    <div class="media-body">
                                        <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>Secure Internet</div>
                                        <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                        <ul>
                                            <li>Noanet Internet Router</li>
                                            <li>Free Modem and Router</li>
                                            <li>25 % Off for New Connections</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / tab_content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of service
    ============================================= -->
    <!-- Satrt of love-our-network
    ============================================= -->
    <section id="love-our-network" class="love-our-network-section">
        <div class="container">
            <div class="row section-content">
                <div class="kc-elm kc-css-294644 kc-title-wrap raleway  dark">
                    <div class="title-wrapper">
                        <h3 class="kc_title"><span>Why love</span>   our Network?</h3>
                    </div>
                </div>
                <!-- /title -->
                <div class="kc-elm kc-css-152924 kc_row kc_row_inner">
                    <div class="col-sm-3 col-xs-6 kc-elm kc-css-96571 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                        <div class="kc-elm kc-css-625587 kc_counter_box">
                            <i class="mn-icon-380 element-icon"></i>  <span class="counterup">200</span>
                            <h4>Happy Customers</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6  kc-elm kc-css-280189 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                    <div class="kc_wrapper kc-col-inner-container">
                        <div class="kc-elm kc-css-492223 hidden-md hidden-lg"></div>
                        <div class="kc-elm kc-css-576522 kc_counter_box">
                            <i class="mn-icon-1103 element-icon"></i> <span class="counterup">24</span>
                            <h4>Support Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6  kc-elm kc-css-354602 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                    <div class="kc_wrapper kc-col-inner-container">
                        <div class="kc-elm kc-css-575471 hidden-md hidden-lg"></div>
                        <div class="kc-elm kc-css-128811 kc_counter_box">
                            <i class="mn-icon-776 element-icon"></i>  <span class="counterup">500</span>
                            <h4>Cities Coverage</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6  kc-elm kc-css-470309 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                    <div class="kc_wrapper kc-col-inner-container">
                        <div class="kc-elm kc-css-629580 hidden-md hidden-lg"></div>
                        <div class="kc-elm kc-css-756091 kc_counter_box">
                            <i class="mn-icon-1225 element-icon"></i> <span class="counterup">120</span>
                            <h4>Awards Winning </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of love-our-network
    ============================================= -->
    <!-- Start of newslatter
    ============================================= -->
    <section id="news-latter" class="newslatter-section">
        <div class="container">
            <div class="row section-content">
                <div class="newslatter-content">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="kc-elm kc-css-154902 kc_text_block">
                                <div class="callto-action">
                                    <p><button class="btn " type="submit">SIGN UP FREE!</button></p>
                                    <div class="title">OUR WEEKLY NEWSLETTER</div>
                                </div>
                            </div>
                        </div>
                        <!-- /col-sm-5 -->
                        <div class="col-sm-7">
                            <div class="kc-elm kc-css-46029 kc_text_block">
                                <p>I just want to thank you for your help. I am so pleased and grateful.</p>
                            </div>
                            <div class="widget widget-newletter style1">
                                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-227 mc4wp-form-basic" method="post" data-id="227" data-name="newletters">
                                    <div class="mc4wp-form-fields">
                                        <div class="mail-form">
                                            <input type="text" name="FNAME" placeholder="Name*" class="form-control">
                                            <input type="email" name="EMAIL" placeholder="Email*" class="form-control" required="">
                                            <span class="input-group-btn">
                                       <button class="btn " type="submit">Submit</button>
                                    </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of newslatter
    ============================================= -->
    <!--Satrt of our news question
    ============================================= -->
    <section id="news-ques" class="news-ques-section">
        <div class="container">
            <div class="row section-content">
                <div class="our-news-ques-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="our-news-section">
                                <div class="kc-elm kc-css-432366 kc-title-wrap  left dark">
                                    <div class="title-wrapper">
                                        <h3 class="kc_title"><span>OUR</span> News</h3>
                                    </div>
                                </div>
                                <!-- /title -->
                                <div class="widget clearfix widget-blog grid">
                                    <div class="widget-content">
                                        <div class="layout-blog style-grid">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6">
                                                    <article class="post post-list post-1988 type-post status-publish format-standard has-post-thumbnail hentry category-digital category-hosting category-internet category-uncategorized tag-broadband tag-digital tag-internet">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <figure class="entry-thumb effect-v6">
                                                                    <a class="post-thumbnail" href="#" aria-hidden="true">
                                                                        <img src="assets/img/blog1-300x300xc.jpg" alt="">
                                                                    </a>
                                                                </figure>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="entry-meta">
                                                                    <div class="info">
                                                                        <div class="meta">
                                                                            <span class="date"><i class="mn-icon-1130"></i>October 1, 2016  </span>
                                                                            <span class="coment"><i class="mn-icon-294"></i>4 Comments</span>
                                                                        </div>
                                                                        <h4 class="entry-title">
                                                                            <a href="#">Proin gravida nibh vel velit auctor aliquet.</a>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="info-bottom">
                                                                    <div class="entry-description">Estibulum vitae fringilla in, rhoncus luctus ante. Integer porttitor .</div>
                                                                    <a class="btn" href="#">Read More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="col-md-12 col-sm-6">
                                                    <article class="post post-list post-184 type-post status-publish format-standard has-post-thumbnail hentry category-hosting category-internet category-server category-support category-uncategorized tag-hosting tag-server tag-support">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <figure class="entry-thumb effect-v6">
                                                                    <a class="post-thumbnail" href="#" aria-hidden="true">
                                                                        <img src="assets/img/people-coffee-notes-tea-300x300xc.jpg" alt="">
                                                                    </a>
                                                                </figure>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="entry-meta">
                                                                    <div class="info">
                                                                        <div class="meta">
                                                                            <span class="date"><i class="mn-icon-1130"></i>January 28, 2016  </span>
                                                                            <span class="coment"><i class="mn-icon-294"></i>01</span>
                                                                        </div>
                                                                        <h4 class="entry-title">
                                                                            <a href="#">they’re kooky mysterious and spooky</a>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="info-bottom">
                                                                    <div class="entry-description">Here's the story of a man named Brady who .
                                                                    </div>
                                                                    <a class="btn" href="#">Read More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /col-sm-6 -->
                        <div class="col-md-6">
                            <div class="faq-content">
                                <div class="kc-elm kc-css-432366 kc-title-wrap  left dark">
                                    <div class="title-wrapper">
                                        <h3 class="kc_title">fEW <span>qUESTION?</span></h3>
                                    </div>
                                </div>
                                <div class="acc-container">
                                    <div class="acc-btn">
                                        <h1 class="selected">Who We Are? (About Ourself)</h1>
                                    </div>
                                    <div class="acc-content open">
                                        <div class="acc-content-inner">
                                            <div class="tab-content">
                                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li>  <i class="mn-icon-21"></i>Noanet Internet Router</li>
                                                            <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li><i class="mn-icon-21"></i>Noanet Internet Router</li>
                                                            <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="acc-btn">
                                        <h1>How do I transfer files to my website?.</h1>
                                    </div>
                                    <div class="acc-content">
                                        <div class="acc-content-inner">
                                            <div class="tab-content">
                                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li>  <i class="mn-icon-21"></i>Noanet Internet Router</li>
                                                            <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li><i class="mn-icon-21"></i>Noanet Internet Router</li>
                                                            <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="acc-btn">
                                        <h1>Can I upgrade my account if I need to?</h1>
                                    </div>
                                    <div class="acc-content">
                                        <div class="acc-content-inner">
                                            <div class="tab-content">
                                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li>  <i class="mn-icon-21"></i>Noanet Internet Router</li>
                                                            <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li><i class="mn-icon-21"></i>Noanet Internet Router</li>
                                                            <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="acc-btn">
                                        <h1>Do you offer Windows based hosting?</h1>
                                    </div>
                                    <div class="acc-content">
                                        <div class="acc-content-inner">
                                            <div class="tab-content">
                                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li>  <i class="mn-icon-21"></i>Noanet Internet Router</li>
                                                            <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li><i class="mn-icon-21"></i>Noanet Internet Router</li>
                                                            <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- // -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of our news question
    ============================================= -->
    <!-- Start of our client say
    ============================================= -->
    <section id="client-say" class="client-say-section">
        <div class="container">
            <div class="row section-content">
                <div class="kc-elm kc-css-294644 kc-title-wrap raleway  dark">
                    <div class="title-wrapper">
                        <h3 class="kc_title"><span>our</span> client say</h3>
                    </div>
                </div>
                <!-- /title -->
                <div class="client-say-content">
                    <div class="client-say-slide widget widget-testimonials style-layout-1">
                        <div class="testimonials-body">
                            <div class="testimonials-profile style1">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="testimonial-meta ">
                                            <div class="info">
                                                <h3 class="name-client"> Jhon Doe</h3>
                                                <span class="job">  Developer - <span>USA</span></span>
                                            </div>
                                            <div class="description">This is Photoshop's version  of Lorem Ipsum. Proin gravida as
                                                nibh vel velit auctor aliquet. Aenean sollicitudin, lorem.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <div class="testimonial-avatar ">
                                            <div class="image-wrapper image-loaded">
                                                <img src="assets/img/user1.jpg" data-src="assets/img/user1.jpg" alt="" class="unveil-image" data-pin-nopin="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonials-profile style2">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="testimonial-avatar ">
                                            <div class="image-wrapper image-loaded">
                                                <img src="assets/img/user1.jpg" data-src="assets/img/user1.jpg" alt="" class="unveil-image" data-pin-nopin="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="testimonial-meta ">
                                            <div class="info">
                                                <h3 class="name-client"> Jhon Doe</h3>
                                                <span class="job">  Developer - <span>USA</span></span>
                                            </div>
                                            <div class="description">This is Photoshop's version  of Lorem Ipsum. Proin gravida as
                                                nibh vel velit auctor aliquet. Aenean sollicitudin, lorem.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonials-profile style1">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="testimonial-meta ">
                                            <div class="info">
                                                <h3 class="name-client"> Jhon Doe</h3>
                                                <span class="job">  Developer - <span>USA</span></span>
                                            </div>
                                            <div class="description">This is Photoshop's version  of Lorem Ipsum. Proin gravida as
                                                nibh vel velit auctor aliquet. Aenean sollicitudin, lorem.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <div class="testimonial-avatar ">
                                            <div class="image-wrapper image-loaded">
                                                <img src="assets/img/user1.jpg" data-src="assets/img/user1.jpg" alt="" class="unveil-image" data-pin-nopin="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of of our client say
    ============================================= -->
    <!-- Start of partner slide
    ============================================= -->
    <div id="partner-slide" class="partner-slide-section">
        <div class="container">
            <div class="row section-content">
                <div class="partner-sllide-content">
                    <div class="partner-img">
                        <img src="assets/img/brand-1.jpg" alt="">
                    </div>
                    <div class="partner-img">
                        <img src="assets/img/brand-2.jpg" alt="">
                    </div>
                    <div class="partner-img">
                        <img src="assets/img/brand-3.jpg" alt="">
                    </div>
                    <div class="partner-img">
                        <img src="assets/img/brand-4.jpg" alt="">
                    </div>
                    <div class="partner-img">
                        <img src="assets/img/brand-5.jpg" alt="">
                    </div>
                    <div class="partner-img">
                        <img src="assets/img/brand-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of partner slide
    ============================================= -->
    <!-- start of footer section
    ============================================= -->
    <footer>
        <section id="footer-area" class="footer-area-section">
            <div class="container">
                <div class="row section-content">
                    <div class="footer-content">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="footer-logo">
                                    <div class="kc-elm kc-css-239827 kc_shortcode kc_single_image">
                                        <figure><img src="assets/img/f-logo.png" class="" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                            <!-- /col-sm-2 -->
                            <div class="col-sm-7">
                                <div class="kc-elm kc-css-304533 kc_col-sm-7 kc_column_inner kc_col-sm-7">
                                    <div class="kc_wrapper kc-col-inner-container">
                                        <div class="contact-info ">
                                            <div class="media">
                                                <div class="media-left">
                                                </div>
                                                <div class="media-body">
                                                    16 Barnes Wallis Way, Buckshaw<br>
                                                    Village, Chorley, United States
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-left">
                                                </div>
                                                <div class="media-body">
                                                    Phone: (800) 154 2545 , 548 2457<br>
                                                    Email : <a href="#">noanet@example.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /col-sm-7 -->
                            <div class="col-sm-3">
                                <div class="search-form">
                                    <form action="#" method="get">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search" name="s" class="apus-search form-control input-sm">
                                            <span class="input-group-btn">
                                       <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                    </span>
                                        </div>
                                        <input type="hidden" name="post_type" value="page" class="post_type">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /footer-area -->
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="copy-right-area">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="kc-elm kc-css-971029 kc_text_block">
                                    <p>© Copyright 2016 <a href="#">Noanet by HTML</a> | All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="widget widget-social pull-right">
                                    <div class="widget-content">
                                        <ul class="social list-inline">
                                            <li>
                                                <a href="#" title="">
                                                    <i class="mn-icon-1405"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    <i class="mn-icon-1406"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    <i class="mn-icon-1407"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    <i class="mn-icon-1408"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

    {% block javascripts %}
        <script>
            'use strict';

            var tpj=jQuery;

            var revapi2;
            tpj(document).ready(function() {
                if(tpj("#rev_slider_2_1").revolution == undefined){
                    console.log("div id #rev_slider_2_1 not found");
                }else{
                    revapi2 = tpj("#rev_slider_2_1").show().revolution({
                        sliderType:"standard",
                        jsFileLocation:"js/",
                        sliderLayout:"auto",
                        dottedOverlay:"none",
                        delay:9000,
                        navigation: {
                            keyboardNavigation:"off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation:"off",
                            mouseScrollReverse:"default",
                            onHoverStop:"off",
                            touch:{
                                touchenabled:"on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            }
                            ,
                            arrows: {
                                style:"gyges",
                                enable:true,
                                hide_onmobile:true,
                                hide_under:768,
                                hide_onleave:true,
                                hide_delay:200,
                                hide_delay_mobile:1200,
                                tmp:'',
                                left: {
                                    h_align:"left",
                                    v_align:"center",
                                    h_offset:20,
                                    v_offset:0
                                },
                                right: {
                                    h_align:"right",
                                    v_align:"center",
                                    h_offset:20,
                                    v_offset:0
                                }
                            }
                            ,
                            bullets: {
                                enable:true,
                                hide_onmobile:false,
                                style:"hesperiden",
                                hide_onleave:false,
                                direction:"horizontal",
                                h_align:"center",
                                v_align:"bottom",
                                h_offset:0,
                                v_offset:20,
                                space:5,
                                tmp:''
                            }
                        },
                        responsiveLevels:[1240,1240,778,480],
                        visibilityLevels:[1240,1240,778,480],
                        gridwidth:[1920,1024,778,480],
                        gridheight:[878,768,800,480],
                        lazyType:"none",
                        parallax: {
                            type:"mouse",
                            origo:"enterpoint",
                            speed:400,
                            levels:[1,2,3,4,5,6,7,10,15,20,25,30,35,40,45,55],
                            type:"mouse",
                            disable_onmobile:"on"
                        },
                        shadow:0,
                        spinner:"spinner0",
                        stopLoop:"off",
                        stopAfterLoops:-1,
                        stopAtSlide:-1,
                        shuffle:"off",
                        autoHeight:"off",
                        hideThumbsOnMobile:"off",
                        hideSliderAtLimit:0,
                        hideCaptionAtLimit:0,
                        hideAllCaptionAtLilmit:0,
                        debugMode:false,
                        fallbacks: {
                            simplifyAll:"off",
                            nextSlideOnWindowFocus:"off",
                            disableFocusListener:false,
                        }
                    });
                }
            });      /*ready*/
        </script>
    {% endblock %}
