{% extends 'base.html.twig' %}
{% block title %} {{ 'title.terms' | trans({'%site_name%': domain}) }} {% endblock %}
{% block body %}
<div class ="container">
    <div class="row section-content-2">

        <div class="form-section">
            <div class="col-sm-8 col-sm-offset-2">
                    <div class="kc-elm kc-title-wrap  left dark">
                        <div class="title-wrapper">
                            <h3 class="kc_title">{{ 'terms' | trans ({'%site_name%': domain}) | raw }}</h3>
                        </div>
                    </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{ terms | raw }}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
