{% extends 'base.html.twig' %}
{% block body %}
    <div class ="container">

        <article class="post">
            <div class="entry-content">
                <div class="pro-access-error">{{ 'pro.specialists_add_offer_access_denied' | trans | raw }}</div>
                <div class="pro-access-buttons">
                    {% include 'common/pro/button_buy_pro.html.twig' %}
                </div>
            </div>
        </article>
    </div>
{% endblock %}