<ul class="project-rules">
    <li>Все проекты проходят ручную модерацию.</li>
    <li>Вам могут отказать в публикации проекта. Модератор может, но не обязан, объяснить причину отказа.</li>
    <li>Предлагая людям свой проект, убедитесь, что он принесет пользу не только вам, но и вашим партнерам.</li>
    <li>Опишите все риски и узкие места. Не замалчивайте проблемы. Ваша цель найти себе партнеров, а не бесплатную рабочую силу на короткий срок.</li>
</ul>