<footer>
    <!-- /footer area -->
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="copy-right-area">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="kc-elm kc-css-971029 kc_text_block">
                                <p>© Copyright {{ "now"|date('Y') }} <a href="/">teamstarter.ru</a> | All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>