{% include 'common/main_menu/mobile.html.twig' %}
<header id="apus-header" class="site-header header-v2">
    <div id="apus-topbar" class="apus-topbar">
        <div class="container">
            <div class="topbar-inner clearfix">
                <div class="pull-left contact-topbar-2">
                    <aside id="text-7" class="widget widget_text">
                        <div class="textwidget">
                            <div class="contact">
                                {%  if app.user and not app.user.isPro %}
                                <div class="pro-header-button">
                                    <a class="" href="{{ path('pro_buy_page') }}">{{ 'pro.become_a_pro' | trans }}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </aside>
                </div>
                {% include 'common/user_menu.html.twig' %}
            </div>
        </div>
    </div>

    <div class="header-main clearfix main-sticky-header-wrapper" style="height: 128px;">
        <div class="main-sticky-header">
            <div class="container">
                <div class="header-inner">
                    <div class="row">
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="logo-in-theme pull-left">
                                <div class="logo logo-theme">
                                    <a href="/">
                                        <img src="/images/logo.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 p-static">

                            {% include 'common/main_menu/regular.html.twig' %}

                            <div class="setting-popup pull-right">
                                <!-- The Modal -->
                                {% include 'common/login_modal.html.twig'  with {'login_modal_id': 'myModal'} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>