{% include 'common/mobile_menu.html.twig' %}
<div id="apus-header-mobile" class="header-mobile hidden-lg hidden-md clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="active-mobile pull-left">
                    <button data-toggle="offcanvas" class="btn btn-sm btn-danger btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="logo logo-theme">
                    <a href="home-1.html">
                        <img src="/img/logo.png" alt="Noanet">
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="lv_search_bar" id="search_button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div id="search_open" class="lv_search_box">
                    <input type="text" placeholder="Search here">
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>