<ul class="project-rules">
    <li>All projects are moderated manually by a moderators team.</li>
    <li>A moderator can decline your project. Moderator may, but isn't obligated to provide a cause of decline.</li>
    <li>When offering people your project, make sure that it will benefit not only you but also your partners.</li>
    <li>Describe all the risks and bottlenecks. Do not hush up the problems. Your goal is to find yourself a partner, not a free labor for a short time.</li>
</ul>