{% extends 'base.html.twig' %}
{% block title %} {{ 'title.promo_request' | trans }} {% endblock %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">
                        <p class="hint">{{ 'registration.promo_code_request_success' | trans ({'%name%': app.user.firstName}) }}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}