{% extends 'base.html.twig' %}
{% block body %}

    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="kc-elm kc-title-wrap  left dark">
                        <div class="title-wrapper">
                            <h3 class="kc_title"><span>Ошибка</span> 404</h3>
                        </div>
                    </div>
                    <p>Что-то пошло не так. Возможно, вы ошиблись, набирая адрес в строке браузера — так бывает. Если вы уверены, что адрес набран верно, то страница, скорее всего, была удалена и ее больше нет.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}