<div class="comments-list margin-top-30">
    {% if comments %}
        <div class="kc-elm kc-title-wrap  left dark">
            <div class="title-wrapper">
                <h3 class="kc_title" id="comments">{{ 'comments.comment_title' | trans | raw }}</h3>
            </div>
        </div>
    {% endif %}
    {% for comment in comments %}
        {% include 'common/one_comment.html.twig' with {'comment': comment} %}
    {% endfor %}
</div>